<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Range Delimiter AngularJS directive</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="range-delimiter.css">

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="range-delimiter.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50812586-1', 'iktash.github.io');
      ga('send', 'pageview');
    </script>
</head>
<body data-ng-app="budget" data-ng-controller="cont">

<div class="cont top-margin txt-center">

    <div class="header-status clearfix">
        <a class="left" href="https://github.com/iktash/range-delimiter">See source code on GitHub</a>
        
        <a class="right" href="https://ie.linkedin.com/pub/illia-kolodiazhnyi/84/927/122">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Illia Kolodiazhnyi's profile on LinkedIn">
        </a>
    </div>

    <h2>Family Budget</h2>

    <div class="top-margin flex-cont">
        <span class="grow-0 al-self-center pad-right">{{ 0 | currency | cropZeros }}</span>

        <div class="flex-cont grow-100 flex-col">
            <div class="flex-cont">
                <span
                    data-ng-repeat="cat in categories"
                    data-grow="cat.percents"
                >
                    {{ cat.name }}: {{ cat.share | currency | cropZeros }}
                </span>
            </div>

            <range-delimiter
                data-ranges="categories"
                class="top-margin"
            ></range-delimiter>
        </div>

        <span class="grow-0 al-self-center pad-left">{{ total_money | currency | cropZeros }}</span>
    </div>

    <hr class="top-margin">

    <div class="top-margin txt-left">
        Total income: <input type="number" data-ng-model="total_money" step="0.1">
    </div>

    <table class="wide top-margin txt-left">
        <tr>
            <th>Name</th>
            <th>Background</th>
            <th>Height</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="cat in categories">
            <td><input type="text" data-ng-model="cat.name" class="wide"></td>
            <td><input type="text" data-ng-model="cat.background" class="wide"></td>
            <td><input type="text" data-ng-model="cat.height" class="wide"></td>
            <td data-ng-click="removeCategory(cat)" class="btn btn--remove txt-center">remove</td>
        </tr>
        <tr>
            <td colspan="4" data-ng-click="addCategory()" class="btn btn--add txt-center">add new one</td>
        </tr>
    </table>

</div>

</body>
</html>
